/* General Styles */
.home-container {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: #1a1a1a;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
}

.section:hover {
  background-color: #333;
}

h1, h2, h3, h4 {
  color: #ffffff;
}

p {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.6;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f4a261;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 20px;
}

/* About Section */
.about-section .about-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-section .about-content p {
  max-width: 600px;
  margin: 0 auto;
}

/* Features Section */
.features-section {
  background-color: #131313;
  border-radius: 8px;
  margin: 8px;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature {
  margin: 8px;
  background-color: #222;
  padding: 20px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 40px;
  color: #ffcc00;
  margin-bottom: 10px;
}

/* Testimonials Section */
.testimonials-section {

  background-color: #333;
  border-radius: 8px;
  margin: 8px;
}

.testimonials-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  margin: 8px;
  background-color: #222;
  padding: 20px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 1rem;
  color: #ddd;
  font-style: italic;
}

/* Contact Section */
.contact-section {
  background-color: #1a1a1a;
  border-radius: 8px;
  margin: 8px;
  display: contents;
}

.contact-button {
  margin: 8px;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .features-grid, .testimonials-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 2rem;
  }
}
