/* Estilos Base */

.NavDiv {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    
    padding: 10px; /* Espaciado alrededor de la barra de navegación */
    
  }
  
  .BuildAndProducts {
    display: flex;
    flex-wrap: wrap; /* Permitir que los botones se envuelvan si hay espacio limitado */
    justify-content: center; /* Centrar los botones dentro de este contenedor */
  }
  
  .BuildAndProducts button {
    margin: 5px; /* Espacio entre botones */
    padding: 10px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  }
  
  .botonwhatsapp {
    display: flex; /* Para centrar el icono de WhatsApp */
    justify-content: center;
    align-items: center;
    margin: 5px; /* Espacio alrededor del icono */
  }

  
.button {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.button:hover {
  color: #8a8a8a;
  opacity: 0.7;
}
.FixedLogo {
position: fixed;
bottom: left;
left: 15px;

}
.botonwhatsapp {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  background-color: #129809;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px 0 #555;
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

/* Botones Especializados */
.buttonNav,
.BtnLogSing {
  width: 80px;
  height: 40px;
  margin: 10px;
  font-size: 17px;
}

.BtnUser {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: -4px;
  transform: translateY(-2px);
}

.BuildAndProducts button,
.BuildAndProducts .button {
  height: 40px;
  margin: 5px;
  font-size: 18px;
  border-bottom: 0.1em solid white;
}

/* Estilos de Iconos */
.UserLogo,
.UserLogo2 {
  margin-left: 15px;
  margin-top: 2px;
  font-size: 28px;
  color: white;
}

.UserLogo:hover,
.UserLogo2:hover {
  color: #8a8a8a;
  opacity: 0.7;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {

  .FixedLogo {
    transform: scale(0.4); /* Escala el elemento al 30% de su tamaño original */
left: -25px;
  }
  
  .Responsive {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px;
    position: fixed;
    z-index: 999;
    top: 0;
  }

  .BuildAndProducts button {
    width: auto;
    padding: 5px;
    font-size: 14px;
  }

  .BtnUser {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 360px) {

  .FixedLogo {
    transform: scale(0.4); /* Escala el elemento al 30% de su tamaño original */
left: -25px;
  }

  .botonwhatsapp {
    transform: scale(0.8); /* Escala el elemento al 30% de su tamaño original */
right:  -5px;
  }


    .DivFilter {       
        padding: 40px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.InputB {
    width: 50%;
}

.Filter {
    width: 50%;
}
  .HomeButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Responsive {
    justify-content: space-between;
    padding: 8px;
  }

  .buttonNav,
  .BtnLogSing,
  .BuildAndProducts button {
    font-size: 13px;
    padding: 4px;
  }

  .CartContainer {
    font-size: 12px;
    margin-left: 8px;
  }
}
