@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {    
  background-color: #000000;    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {  
  background-color: #000000;    
}

